<header>
  <nav id="main-links">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">About</a></li>
    </ul>
  </nav>
  <div id="logo">
    <a href="#">David Shin</a>
  </div>
  <nav id="social-links">
    <ul>
      <li><a href="https://www.linkedin.com/in/david-shin/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li><a href="https://www.twitter.com/crispyb0i"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/crispyb0i"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
  </nav>
</header>
<section id="intro">
  <h1>David's Portfolio</h1>
  <p>Welcome to my web developer portfolio! Pretty cool, am I right? I would love it if you took a look around! Check out my projects below. Everything on this page is responsive (in case you were wondering).</p>
</section>
<section id="showcase">
  <main>
    <!--<div class="main-title">-->
      <!--<h1>My Projects</h1>-->
    <!--</div>-->
    <div class="cards-container">
      <div class="card">
        <div class="card-img">
          <img src="../../assets/img/w1.jpg" alt="">
        </div>
        <div class="card-title">
          <h2>Card title</h2>
        </div>
        <div class="card-desc">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, repellendus voluptate. Accusantium aliquid aspernatur consequuntur et eveniet facere fugit ipsa iusto, magnam minima officiis perferendis porro provident rem, ut voluptas!</p>
        </div>
        <div class="call-to-action">
          <a href="">Go To Project</a>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="../../assets/img/w2.jpg" alt="">
        </div>
        <div class="card-title">
          <h2>Card title</h2>
        </div>
        <div class="card-desc">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, repellendus voluptate. Accusantium aliquid aspernatur consequuntur et eveniet facere fugit ipsa iusto, magnam minima officiis perferendis porro provident rem, ut voluptas!</p>
        </div>
        <div class="call-to-action">
          <a href="">Go To Project</a>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="../../assets/img/w3.jpg" alt="">
        </div>
        <div class="card-title">
          <h2>Card title</h2>
        </div>
        <div class="card-desc">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, repellendus voluptate. Accusantium aliquid aspernatur consequuntur et eveniet facere fugit ipsa iusto, magnam minima officiis perferendis porro provident rem, ut voluptas!</p>
        </div>
        <div class="call-to-action">
          <a href="">Go To Project</a>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="../../assets/img/w4.jpg" alt="">
        </div>
        <div class="card-title">
          <h2>Card title</h2>
        </div>
        <div class="card-desc">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, repellendus voluptate. Accusantium aliquid aspernatur consequuntur et eveniet facere fugit ipsa iusto, magnam minima officiis perferendis porro provident rem, ut voluptas!</p>
        </div>
        <div class="call-to-action">
          <a href="">Go To Project</a>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="../../assets/img/w5.jpg" alt="">
        </div>
        <div class="card-title">
          <h2>Card title</h2>
        </div>
        <div class="card-desc">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, repellendus voluptate. Accusantium aliquid aspernatur consequuntur et eveniet facere fugit ipsa iusto, magnam minima officiis perferendis porro provident rem, ut voluptas!</p>
        </div>
        <div class="call-to-action">
          <a href="">Go To Project</a>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="../../assets/img/w6.jpeg" alt="">
        </div>
        <div class="card-title">
          <h2>Card title</h2>
        </div>
        <div class="card-desc">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, repellendus voluptate. Accusantium aliquid aspernatur consequuntur et eveniet facere fugit ipsa iusto, magnam minima officiis perferendis porro provident rem, ut voluptas!</p>
        </div>
        <div class="call-to-action">
          <a href="">Go To Project</a>
        </div>
      </div>
    </div>
  </main>
  <aside>
    <h3>Categories</h3>
    <nav>
      <ul>
        <li><a href="">Nature</a></li>
        <li><a href="">Business</a></li>
        <li><a href="">Computers</a></li>
        <li><a href="">Health</a></li>
        <li><a href="">Landscape</a></li>
      </ul>
    </nav>
  </aside>
</section>
<footer id="footer">
  <p>Made with &hearts; by David Shin</p>
</footer>
